//brand colors
$color-1: #a869d1;
$color-2: #65c8db;
$color-3: #f7f8fa;
$color-4: #cfccd3;
$color-5: #f0e8f7;

//text
$color-gray-100: lighten(black, 0%);
$color-gray-90: lighten(black, 10%);
$color-gray-80: lighten(black, 20%);
$color-gray-70: lighten(black, 30%);
$color-gray-60: lighten(black, 40%);
$color-gray-50: lighten(black, 50%);
$color-gray-40: lighten(black, 60%);
$color-gray-30: lighten(black, 70%);
$color-gray-20: lighten(black, 80%);
$color-gray-10: lighten(black, 90%);

$color-light-100: darken(white, 0%);
$color-light-90: darken(white, 10%);
$color-light-80: darken(white, 20%);
$color-light-70: darken(white, 30%);
$color-light-60: darken(white, 40%);
$color-light-50: darken(white, 50%);
$color-light-40: darken(white, 60%);
$color-light-30: darken(white, 70%);
$color-light-20: darken(white, 80%);
$color-light-10: darken(white, 90%);